[Unit]
Description=Feathersoft.Art Web Application
After=syslog.target network.target

[Service]
WorkingDirectory=home/feathersoft/publish
ExecStart=/usr/bin/dotnet home/feathersoft/publish/Feathersoft.dll
Restart=always
RestartSec=10
TimeoutStopSec=90
KillSignal=SIGINT
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_CLI_TELEMETRY_OPTOUT=1

[Install]
WantedBy=multi-user.target